<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ordertable Website</title>
    {% include 'include.html' %}
    <link href="{{ https_url_for('static', path='/css/index.css') }}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ https_url_for('static', path='/js/index.js') }}" language="javascript"></script>
	<script type="application/x-javascript"> 
	</script>
</head>
<body>
    <div id="header" style="display: none;">
        {% include 'header.html' %}
    </div>

    <div id="index_content">
        {% include 'index_content.html' %}
    </div>

    <div id="footer">
        {% include 'footer.html' %}
    </div>
    
</body>
</html>
